.appointment-tile {
  padding: 0.5rem;

  .location-marker {
    display: flex;
    flex-direction: row;
    margin: 0 0 0.5rem -1rem;

    svg {
      margin: 2px 0.25rem 0 -0.25rem
    }
  }
  &.hightlight {
    border: 2px solid;
  }
}
