@import '../base/colors.scss';
@import '../base/fonts.scss';


.nav-bar {
  font-family: $family-sans-serif;
  font-size: 10px;
  display: inline-block;
  width: 100%;
  background-color: $reapit-dark-blue-darkened;
  height: 66px;
  position: sticky;
  top: 0;
  z-index: 1;
  
  @media screen and (min-width: 768px) {
    height: 100vh;
    width: 66px;
    overflow: hidden; 
    position: static;
  }
  
  ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    overflow-x: scroll;
    
    @media screen and (min-width: 768px) {
      height: 100%;
      flex-direction: column;    
      overflow-x: hidden;  
    }
  }

  li {
    padding: 0.5rem 0.5rem;
    border: $reapit-dark-blue-darkened 3px solid;
    text-align: center;
    min-width: 66px;

    @media screen and (min-width: 768px) {
      width: 66px;  
    }
  }

  li a {
    color: $reapit-lightest-blue-lightened;
  }

  li.is-active a, :hover {
    color: $white;
    transition: color 0.1s ease-in-out;
  }

  li.is-active {
    border-bottom: $white 3px solid;
   
    @media screen and (min-width: 768px) {
      border-bottom: $reapit-dark-blue-darkened 3px solid;
      border-left: $white 3px solid;
    }
  }

  li.is-secondary {
    margin-left: auto;

    @media screen and (min-width: 768px) {
      margin-top: auto;  
      margin-left: 0; 
    }
  }

  .nav-item-icon  {
    width: 45%;
    height: 100%;
  }

  .is-logo .nav-item-icon {
    width: 75%;
  }

  &.is-desktop {
    display: none;
  }
}
