@import '../base/layout.scss';

.toast {
  width: 100%;
  padding: 0 $layout-base;
  position: fixed;
  z-index: 99;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 0.2s ease-in-out;

  &.visible {
    transform: translateY(calc(#{$layout-base} * -1));
  }

  button {
    white-space: unset;
  }
}
