.appoinmentDetailModal {
  header h4 {
    @media (max-width: 480px) {
      font-size: 1rem;
    }
  }
}

.appointmentDetailIconContainer {
  svg {
    margin-right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}

.appointmentDetailTextContainer {
  display: flex;
  margin-bottom: 1.5rem;

  @media (max-width: 480px) {
    a,
    h4,
    h5 {
      font-size: 0.7rem !important;
    }

    h4,
    h5 {
      width: 30vw !important;
    }
  }

  div,
  h5 {
    display: flex;
    align-items: center;
  }

  h4,
  h5 {
    margin-bottom: 0 !important;
    width: 200px;
  }

  h5,
  a {
    flex: 1;
    width: 100%;
  }
}
