.appointment-detail-text-container {
  display: flex;
  margin-bottom: 1.5rem;

  div,
  h5 {
    display: flex;
    align-items: center;
  }

  h4,
  h5 {
    margin-bottom: 0 !important;
    width: 200px;
  }

  h5,
  a {
    flex: 1;
    width: 100%;
  }
}
