.appoinmentDetailHeaderText {
  margin-bottom: 0 !important;
  line-height: 2rem;
  margin-left: 2.2rem;

  @media (max-width: 480px) {
    font-size: 1rem !important;
    line-height: 1.7rem;
  }
}

.appoinmentDetailModal {
  header h5 {
    @media (max-width: 480px) {
      font-size: 1rem;
    }
  }
}

.appointmentDetailIconContainer {
  width: 200px;

    @media (max-width: 480px) {
    width: 120px;
    }

  svg {
    margin-right: 1rem;
    width: 1rem;
    height: 1rem;
  }

  h5 {
    font-family: "Museo Sans W03_700",Helvetica,sans-serif !important
  }
}

.appointmentDetailTextContainer {
  display: flex;
  margin-bottom: 1.5rem;

  h5 {
    font-family: "Museo Sans W03_300",Helvetica,sans-serif;
  }

  @media (max-width: 480px) {
    a,
    h5 {
      font-size: 0.7rem !important;
    }
  }

  & > div:first-child,
  &> h5 {
    display: flex;
  }

  h4,
  h5 {
    margin-bottom: 0 !important;
    width: 200px;
  }

  h5,
  a {
    flex: 1;
    width: 100%;
  }
}
