@import '../base/colors.scss';

.status {
  font-size: 1.25rem;
  text-transform: capitalize;
  color: #363636;
  margin-bottom: 15px;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.reportContainer {
  border: 1px solid;
  margin-bottom: 1rem;
}

.statusColumn {
  display: flex;
  align-items: center;
}

.footerContainer {
  text-align: right;
}

.checkCompleted {
  font-size: 1.5rem;
  color: $green;
}

.checkIncomplete {
  font-size: 1.5rem;
  color: $red;
}

@media print {
  .reportPrint {
    background-color: white;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 40px;
    font-size: 14px;
    line-height: 18px;
  }
}
