@import '../base/colors.scss';

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px;
  padding: 1rem;
  border-radius: 4px;
}

.checkMarkSection {
  display: flex;
  align-items: center;
}

.statusSection {
  margin-right: 2rem;
  align-items: center;
  display: flex;
}

.checkCompleted {
  font-size: 1.5rem;
  color: $green;
}

.checkIncomplete {
  font-size: 1.5rem;
  color: $red;
}

.hideOnMobile {
  display: none;
}

.showOnMobile {
  display: flex;
}

@media (min-width: 481px) {
  .hideOnMobile {
    display: flex;
  }

  .showOnMobile {
    display: none;
  }
}
