@import '../base/colors.scss';

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px;
  padding: 1rem;
  border-radius: 4px;
}

.checkMarkSection {
  display: flex;
  align-items: center;
}

.statusSectionWrap {
  align-items: center;
  display: flex;
}

.statusSection {
  margin-right: 2rem;
  align-items: top;
  display: flex;
}

.statusText {
  font-weight: 700;
  font-size: 16px;
  margin-left: 1rem;
}

.checkCompleted {
  font-size: 1.5rem;
  color: $reapit-green;
}

.checkIncomplete {
  font-size: 1.5rem;
  color: $reapit-red;
}

.hideOnMobile {
  display: none;
}

.showOnMobile {
  display: flex;
}

@media (min-width: 481px) {
  .hideOnMobile {
    display: flex;
  }

  .showOnMobile {
    display: none;
  }
}
