@import '@/styles/base/screen-size.scss';

.categoryItem {
  display: inline;
  margin: 4px;

  a {
    color: #262f69;
    cursor: pointer;
    text-decoration: none;
    font-weight: normal;
  }

  &.categoryItemActive {
    a {
      color: black;
      font-weight: 700;
    }
  }
}

.categoryItem:hover {
  text-decoration: underline;
}

@media screen and (min-width: 769px) {
  .categoryItem {
    display: block;
    margin: 4px;
  }
}
