.filterButton {
  align-self: center;
  margin-top: 1rem;
}

.contentBlock {
  margin: 0 auto;
  width: 100%;
  @media screen and (min-width: 1025px) {
    width: 70%;
  }
}

.totalRecordLabel {
  float: right;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

.datePicker {
  margin-bottom: 7px;
}
