@import '../base/colors.scss';

.wrapAnalytics {
  width: 100%;
}
.tabContainer {
  @media screen and (min-width: 1025px) {
    max-width: 50%;
  }
}
.hr {
  margin: 0 0 20px;
  border: 0.5px solid $grey;
  height: 1px;
}
.totalCount {
  font-size: 1rem;
  margin: 1rem 0;
}
.totalApiCountWrapper {
  float: right;
  @media (min-width: 480px) {
    width: 300px;
  }
}
.costCalculatorFormContainer {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  @media screen and (min-width: 1025px) {
    max-width: 50%;
  }
}

.serviceChart {
  margin: 0rem 0rem 4rem 0rem;
  .barChartContainer {
    height: 20rem;
    width: 50%;
  }
  .transactionHistoryContainer{
    padding: 1rem;
    .downloadSection {
      justify-content: space-between;
      margin-bottom: 1rem;
    }
  }
}
