@import '../base/colors.scss';

.wrapAnalytics {
  width: 100%;
}
.tabContainer {
  @media screen and (min-width: 1025px) {
    max-width: 50%;
  }
}
.hr {
  margin: 0 0 20px;
  border: 0.5px solid $grey;
  height: 1px;
}
.totalCount {
  font-size: 1rem;
  margin: 1rem 0;
}
.totalApiCountWrapper {
  float: right;
  @media (min-width: 480px) {
    width: 300px;
  }
}
.costCalculatorFormContainer {
  margin-top: 15px;
  @media screen and (min-width: 1200px) {
    max-width: 40%;
  }
}
