.app-list {
  width: auto;
  height: 100vh;
  overflow: auto;
  /* Hide scrollbar. only show window scrollbar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  // this is to negate body overflow caused by padding: 1rem in FlexContainerResponsive without affecting other pages
  margin: -1rem;
  // then add padding in section itself
  padding: 1rem;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.app-list::-webkit-scrollbar {
  display: none;
}
