@import '../base/colors.scss';

.check {
  color: #a0c862;
}

.appDetailContainer {
  height:auto;
  width: 100%;
  max-width: 1012px;
  margin: 0 auto;
  padding: 15px;
  background-color: $white;
}

.gutter {
  margin: 1rem 0;
}

.appContentContainer {
  h5,
  h5:not(:last-child) {
    margin-bottom: 1rem;
  }
  h5.headerWithoutMargin {
    margin-bottom: 0;
  }
}


.permissionList {
  list-style-type: disc;
  list-style-position: inside;
}


