@import '../base/colors.scss';
@import '../base/screen-size.scss';

.check {
  color: #a0c862;
}

@include for-desktop-only {
  .hiddenInDesktopScreenSize {
    display: none;
  }

  .needHelpButton {
    width: 100%;
  }
}

.appDetailContainer {
  @include for-mobile-only {
    background-color: $white;

    .asideContainer {
      display: none;
    }
  }

  @include for-desktop-only {
    display: flex;

    .mainContainer {
      background-color: $white;
      padding: 0 3rem;
      flex: 1;
    }
  }

  height: auto;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
}

.gutter {
  margin: 2rem 0;
}

.appContentContainer {
  h5,
  h5:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  h5.headerWithoutMargin {
    margin-bottom: 0;
  }
}

.permissionList {
  list-style-type: disc;
  list-style-position: inside;
}



