@import '../base/screen-size.scss';

.description-column {
  @include for-mobile-only {
    width: 100%;
  }

  @include for-tablet-and-desktop {
    width: 50%;
  }
}

.terms-submit-app {
  height: 100%;
  width: 100%;
  align-items: center;
  font-weight: bold;

  @media screen and (min-width: 768px) {
    white-space: nowrap;
  }
}

.label-terms {
  cursor: pointer;
}

.terms-link {
  text-decoration: underline;
}

.container {
  flex-shrink: 0;
}

.errorScope {
  width: 100%;
}

.footerButtons {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}
