.graphic {
  width: 100%;
  height: auto;
}

.container {
  display: flex;
  margin: 0 auto;
  width: 100%;

  @media (min-width: 769px) {
    width: unset;
  }
}

.content {
  @media (min-width: 769px) {
    max-width: 375px;
  }
}
