@import '../base/colors.scss';

.listPreviewIcon {
  color: $reapit-blue;
}

.appDetailContainer {
  height: auto;
  display: flex;
  margin: 0 auto;
  margin: 1rem;
}

.mainContainer {
  flex: 1;
}

.asideManageAppContainer {
  display: flex;
  flex-direction: column;

  button,
  button:first-child {
    width: 150px;
    margin-top: 0;
    margin-left: 0;
  }
}

.mainContainer {
  background-color: $white;
  padding: 15px;
}

.renderAsideStatusContainer {
  display: flex;
  justify-content: flex-star;
  align-items: center;

  .check {
    /*should be px regard their base px (rem) else looks really ugly*/
    margin-left: 5px;
    color: #a0c862;
  }
}
