.terms-submit-app {
  height: 100%;
  width: 100%;
  align-items: center;
  font-weight: bold;

  @media screen and (min-width: 768px) {
    white-space: nowrap;
  }
}
.label-terms {
  cursor: pointer;
}
.terms-link {
  text-decoration: underline;
}

.container {
  flex-shrink: 0;
}
