@import '../base/colors.scss';
@import '../base/screen-size.scss';

.listPreviewIcon {
  color: $reapit-blue;
}

.appDetailContainer {
  height: auto;
  display: flex;
  margin: 0 auto;
  margin: 1rem;
}

.mainContainer {
  flex: 1;
}

.asideManageAppContainer {
  display: flex;
  flex-direction: column;

  button,
  button:first-child {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
  }
}

.mainContainer {
  background-color: $white;
  padding: 0 3rem 6rem;
  position: relative;
}

.renderAsideStatusContainer {
  display: flex;
  justify-content: flex-star;
  align-items: center;

  .check {
    /*should be px regard their base px (rem) else looks really ugly*/
    margin-left: 5px;
    color: #a0c862;
  }
}

.asideContainer {
  @include for-mobile-only {
    display: block;
  }
}

.footerContainer {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding-bottom: 0;
}
