.forum-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.gitter-container {
  position: relative;
  flex: 1;

  div:first-child {
    display: none;
  }

  & > iframe {
    width: 100%;
    height: 100%;
  }
}
