@import '../base/colors.scss';

.container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  background-color: $white;

  @media screen and (max-width: 900px) {
    flex-direction: column-reverse;
  }
}

.wrapper {
  background-color: $white;
  width: 33.33%;
  padding: 1rem;
  pointer-events: auto;

  &.disabled {
    pointer-events: none;
  }

  h1,
  p, img {
    text-align: center;
  }

  img {
    margin: 0 auto;
    max-width: 200px;
    display: block;
  }

  button, .tabsContainer {
    margin: 0 auto 2rem auto;
    max-width: 400px;
  }

  @media screen and (max-width: 900px) {
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    padding: 0 3rem;
  }
}

.image {
  background-color: $white;
  width: 66.66%;
  height: 100vh;
  font-size: 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media screen and (max-width: 900px) {
    width: 100%;
    height: 300px;
  }
}

.register-level {
  flex-direction: column;
}

.register {
  @media screen and (max-width: 768px) {
    padding-top: 1rem;
  }

  @media screen and (min-width: 900px) {
    padding-left: 1rem;
  }

  @media screen and (min-width: 960px) {
    padding: 0;
  }
}
.loginForm {
  position: relative;
  .forgotPasswordContainer {
    position: absolute;
    right: 0;
    z-index: 1;
  }
}

.labelTerms {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}
