@import '../base/colors.scss';
@import '../base/layout.scss';

.tabsSticky {
  position: sticky;
  z-index: 9;
  top: 0;
  background-color: #fff;
}

.menuSticky {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
  padding: 1rem 0;
  border-bottom: 1px solid $grey-lighter;

  @media screen and (max-width: 768px) {
    top: 36px;
  }
}

.menuSticky.isDesktop {
  top: 0;
}

.controlsWrapper {
  position: absolute;
  background: $grey-lightest;
  height: 100%;
  width: $left-panel-width;
  left: 66px;
  top: 0;
  overflow: scroll;
}

.controlsWrapper.isDesktop {
  left: 0;
}

.controlsWrapper.isMobile {
  width: 100%;
  overflow: auto;
  height: calc(100vh - 66px);
  top: 66px;
  left: 0;
}

.controlsWrapper.isMobile.isDesktop {
  height: 100%;
  top: 0;
}

.appointmentsListWrapper {
  position: relative;
  top: 1rem;
  height: 100%;
}

.cancelledAppointment {
  margin-top: 30px;
}
