.appCard {
  border-radius: 5px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  figure {
    
    margin-bottom: 1rem;
  }

  p, h5 {
    text-align: center;
  }

  h5 {
    padding-bottom: 0.5rem;
  }
}

.appCardContent {
  height: 85px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.isCentered {
  margin: 0 auto;
}

.isLeft {
  justify-content: left;
}
