@import '../base/colors.scss';

$caret-up: rotate(45deg);
$caret-down: rotate(225deg);
$caret-ease: all 0.5s ease-in-out;
$caret-thickness: 2px $grey-lighter solid;
$caret-length: 1rem;

.logo {
  display: flex;
  align-items: flex-start;
  margin-top: -1rem;

  svg {
    margin-left: -15px;
  }

  h5 {
    margin-top: 2rem;
    margin-bottom: 0.5rem;
  }

  @media screen and (min-width: 768px) {
    flex-direction: column;
    margin-top: -0.5rem;

    h5 {
      margin-top: -10px;
      margin-bottom: 2rem;
    }
  }
}

.menuBar {
  padding-top: 0.5rem;
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    max-height: 100vh;
  }
}

.subMenu {
  max-height: 0;
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
  border-bottom: 1px solid $grey-lighter;

  &:last-of-type {
    border-bottom: none;
  }
}

.menuIsOpen {
  max-height: 100vh;
}

.subMenuLabel {
  position: relative;
}

.toggleContainer {
  position: relative;
}

li.isActive {
  a {
    font-weight: 700;
    color: $black;
  }
}

.caretContainer {
  position: absolute;
  right: 0;
  top: -0.85rem;
  margin: $caret-length;
  display: flex;
  justify-content: space-around;
}

.caretArrow {
  cursor: pointer;
  width: $caret-length;
  height: $caret-length;
  border-top: $caret-thickness;
  border-left: $caret-thickness;
  transform: $caret-up;
  transition: $caret-ease;
  margin: 0 3px 6px 3px;
}

.caretActive {
  transform: $caret-down;
  margin: 0 3px 6px 3px;
}

.toggle {
  display: block;
  cursor: pointer;
  position: absolute;
  right: 1rem;
  top: -2.5rem;

  input {
    display: none;

    & + div {
      width: 20px;
      height: 14px;
      position: relative;

      div {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        transition: transform 0.5s ease;

        span {
          display: block;
          position: absolute;
          left: 0;
          right: 0;

          &:first-child {
            top: 0;

            &:before,
            &:after {
              top: 0;
            }
          }

          &:last-child {
            bottom: 0;

            &:before,
            &:after {
              bottom: 0;
            }
          }

          &:before,
          &:after {
            content: '';
            display: block;
            width: 47%;
            height: 2px;
            border-radius: 1px;
            background: $grey-lighter;
            position: absolute;
            transition: transform 0.5s ease, border-radius 0.3s ease, background 0.4s ease;
          }

          &:before {
            left: 0;
            transform-origin: 0 50%;
            transform: translate(1px, 0) scaleX(1.1);
          }

          &:after {
            right: 0;
            transform-origin: 100% 50%;
            transform: translate(-1px, 0) scaleX(1.1);
          }
        }
      }

      svg {
        display: block;
        fill: none;
        stroke: $grey-lighter;
        stroke-width: 2px;
        width: 44px;
        height: 44px;
        stroke-linecap: round;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -22px 0 0 -22px;
        stroke-dasharray: 0 82.801 8 82.801;
        stroke-dashoffset: 82.801;
        transform-origin: 50% 50%;
        -webkit-backface-visibility: hidden;
        transform: scale(1);
        transition: stroke-dashoffset 0.5s ease, stroke-dasharray 0.6s ease, transform 0.5s ease, stroke 0.4s ease;

        &:nth-child(3) {
          transform: rotate(180deg) scale(1);
        }
      }
    }
    &:checked + div {
      div {
        transform: rotate(90deg);

        span {
          &:before,
          &:after {
            background: $grey-lighter;
          }

          &:first-child {
            &:before {
              transform: rotate(45deg) translate(2.2px, -3px) scaleX(1.05);
            }
            &:after {
              transform: rotate(-45deg) translate(-2.2px, -3px) scaleX(1.05);
            }
          }

          &:last-child {
            &:before {
              transform: rotate(-45deg) translate(2.2px, 3px) scaleX(1.05);
            }
            &:after {
              transform: rotate(45deg) translate(-2.2px, 3px) scaleX(1.05);
            }
          }
        }
      }
      svg {
        stroke-dashoffset: 62;
        stroke-dasharray: 0 82.801 62 82.801;
        transform: rotate(90deg);
        stroke: $grey-lighter;
        &:nth-child(3) {
          transform: rotate(270deg);
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}
