@import '../base/layout.scss';

.toast {
  width: 100%;
  padding: 0 $layout-base;
  position: fixed;
  z-index: 1;
  bottom: -2rem;
  transition: bottom 0.2s ease-in-out;

  &.visible {
    margin: $layout-base;
  }
}
