{
  "presets": [
    [
      "@babel/typescript",
      {
        "allExtensions": true,
        "isTSX": true
      }
    ],
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ],
    "@babel/react"
  ]
}
