{
  "presets": [
    [
      "@babel/typescript",
      {
        "allExtensions": true,
        "isTSX": true
      }
    ],
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true,
        }
      }
    ],
    "@babel/react",
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining"
  ]
}
