node_modules
cypress/screenshots
public/dist
src/tests/coverage
src/constants/.env
src/tests/cypress/videos
src/tests/cypress/screenshots
.vscode
.DS_Store
yarn-error.log

# test reports
.jest-junit-reports
browserstack-reports

src/constants/.env
src/tests/webdriver/screenshots
reapit-config.json