<div>
  <h1 style="color: blue;">Forgotten password</h1>
  <p>
    Click
    <a href=<%= `https://dev.marketplace.reapit.com/developer/reset-password?userName=${userName}&verificationCode=${verificationCode}` %>>here</a>
    to reset your password
  </p>
</div>