* {
  box-sizing: border-box;
  letter-spacing: -0.01em;
}

html {
  font-size: 16px;
  font-family: var(--font-family);
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
}

strong {
  font-weight: bold;
}

p {
  color: var(--color-dark-grey);
}

.gd-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 28px;
  width: 156px;
  height: 40px;
  font-family: var(--font-family);
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  color: var(--color-white);
  font-weight: bold;
}

.gd-button-primary {
  background-color: var(--color-primary);
}

.gd-button-critical {
  background-color: var(--color-critical);
}

.gd-container {
  width: 100vw;
  height: 100vh;
}
