.permissionBlock {
  margin-bottom: 15px
}

.heading {
  text-align: center
}

.installButtonContainer {
  display: flex;
}

.installButton {
  margin: 0 1rem;
  width: 100%;
}

.subtitle {
  padding: 0 1rem;
  margin: 0;
}

.permissionList {
  padding: 1rem 3rem;
}

.permissionListItem {
  list-style-type: circle;
}
