.topNavbar {
  text-align: right;
}

.bold {
  font-weight: bold;
  color: black;
}

.moreThreeYearLink {
  text-align: right;
  margin-bottom: 2rem;
}

.footerBtn {
  margin-top: 1rem;
  text-align: right;
}

.footerBetween {
  justify-content: space-between;
}

.informationRow {
  display: flex;
  & > span {
    width: 50%;
  }
}

.contentTitle {
  font-weight: bold;
  width: 30%;
}

.pepSearchInputContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;

  > div {
    width: 100%;
  }

  button {
    flex-shrink: 0;
    margin: 0 0 1.25rem 1rem;
    height: 45px;
  }
}

.pepSearchLoading {
  text-align: center;
  svg {
    font-size: 2rem;
    animation: spinner 1s linear infinite;
  }
}

.noResultContainer {
  svg {
    font-size: 2rem;
    margin-right: 1rem;
  }

  div {
    margin-bottom: 1rem;
  }

  h4:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
