.terms-submit-app {
  height: 100%;
  width: 100%;
  align-items: center;
  white-space: nowrap;
  font-weight: bold;
}
.label-terms {
  cursor: pointer;
}
.terms-link {
  text-decoration: underline;
}
