@import '../base/colors.scss';

.mapContainer {
  overflow: hidden;
  position: absolute;
  left: 300px;
  width: calc(100vw - 300px);
  top: 73px;
  height: calc(100vh - 73px);

  @media screen and (max-width: 768px) {
    left: 0;
    top: 108px;
    height: calc(100vh - 108px);
    width: 100%;
  }
}

.mapContainer.mapHasPanel {
  height: calc(100vh - 165px);

  @media screen and (max-width: 768px) {
    height: calc(100vh - 200px);
  }
}

.mapPanel {
  position: absolute;
  bottom: 0;
  width: calc(100vw - 300px);
  left: 300px;
  display: flex;
  background-color: #fff;
  padding: 1.5rem;
  & > * {
    margin-right: 10px;
  }
  @media screen and (max-width: 768px) {
    justify-content: space-between;
    & > * {
      margin-right: 0;
    }
    left: 0;
    width: 100%;
  }
}
