@import '../base/layout.scss';
@import '../base/colors.scss';

.pageWrapper {
  display: flex;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.pageContainer {
  width: $page-container;
  min-height: 100vh;
  background: $grey-lightest;
  padding: 0 1.5rem;
}

.menuContainer {
  width: $menu-width;
  padding: 1rem 1rem 0 1rem;
  border-right: 1px solid $grey-lighter;
  border-bottom: 1px solid $grey-lighter;
}

.menuContainer, .pageContainer {
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}