@import '../base/colors.scss';

.pageWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > main {
    width: 100%;
  }
}

.pageContainer {
  width: 100vw;
  height: calc(100vh - 74px);
  background: $grey-lightest;
}

.pageContainer.isDesktop {
  width: 100%;
  height: 100vh;
}

.menuContainer {
  flex-shrink: 0;
  width: 100vw;
  padding: 1rem 1rem 0 1rem;
  border-right: 1px solid $grey-lighter;
  border-bottom: 1px solid $grey-lighter;
  position: sticky;
  z-index: 11;
  background: #fff;
}

.menuContainer.isDesktop {
  display: none;
}

.menuContainer,
.pageContainer {
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.tabsSticky {
  position: sticky;
  z-index: 9;
  top: 0;
  background-color: #fff;
}

.menuSticky {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
  padding: 1rem 0;
  border-bottom: 1px solid $grey-lighter;
  @media screen and (max-width: 768px) {
    top: 36px;
  }
}

.menuSticky.isDesktop {
  top: 0;
}

.controlsWrapper {
  position: absolute;
  background:rgb(249, 251, 253);
  height: calc(100% - 73px);
  width: 300px;
  left: 0;
  top: 73px;
  overflow: scroll;
  @media screen and (max-width: 768px) {
    height: 100%;
  }
}

.controlsWrapper.isDesktop {
  top: 0;
  height: 100%;
}

.controlsWrapper.isMobile {
  position: static;
  width: 100%;
  overflow: auto;
}

.appointmentsListWrapper {
  position: relative;
  top: 1rem;
}
