@import '../base/layout.scss';
@import '../base/colors.scss';

.pageWrapper {
  display: flex;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.pageContainer {
  width: $page-container;
  height: 100vh;
  background: $grey-lightest;
  padding: 0 1.5rem 1.5rem 1.5rem;
  overflow: scroll;
}

.menuContainer, .pageContainer {
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}
