@import '../base/colors.scss';

.title {
  font-size: 2rem;
  font-weight: 600;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 40px 0 20px 0;
}

.nav {
  background-color: #0067a0;
}

.logoImage {
  width: 150px;
}
