.tableWrap {
  width: calc(100vw - 2rem);
  @media screen and (min-width: 768px) {
    width: 100%;
  }
}

.buttonNewSearchContainer {
  text-align: center;
  margin-top: 1rem;
  & > button {
    & > a {
      color: white;
    }
  }
}

.columnText {
  text-transform: capitalize;
}
