@import '../base/colors.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.wrapper {
  background-color: $white;
  width: 100%;
  padding: 30px;
  border-radius: 8px;
  pointer-events: auto;

  &.disabled {
    pointer-events: none;
  }

  > .nav-tabs {
    margin-bottom: 1rem;
  }
}

.column {
  &:nth-child(2) {
    margin-left: auto;
  }
}
