* {
  box-sizing: border-box;
}

.rc-select {
  display: inline-block;
  background-color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  position: relative;
  vertical-align: top;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  max-width: 100%;
  width: 100%;
  height: auto;
}

.rc-select-disabled {
  cursor: not-allowed;

  input {
    cursor: not-allowed;
  }

  .rc-select-selector {
    opacity: 0.3;
  }
}

.rc-select-show-arrow.rc-select-loading .rc-select-arrow-icon::after {
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border: 2px solid #999;
  border-top-color: transparent;
  border-bottom-color: transparent;
  transform: none;
  margin-top: 4px;
  animation: rcSelectLoadingIcon 0.5s infinite;
}

.rc-select .rc-select-selection-placeholder {
  opacity: 0.4;
  position: absolute;
}

.rc-select-selector > span:not(:last-child) {
  margin-right: 0.5rem;
}

.rc-select-single {
  .rc-select-selector {
    display: flex;
    position: relative;

    .rc-select-selection-search,
    .rc-select-selection-search-input {
      width: 100%;
    }

    .rc-select-selection-item,
    .rc-select-selection-placeholder {
      position: absolute;
      top: 1px;
      left: 3px;
      pointer-events: none;
    }
  }

  &:not(.rc-select-customize-input) .rc-select-selector {
    padding: 1px;
    border: 1px solid #000;

    .rc-select-selection-search-input {
      border: none;
      outline: none;
      background: white;
      width: 100%;
    }
  }
}

.rc-select-multiple .rc-select-selector {
  display: flex;
  flex-wrap: wrap;
  cursor: text;

  .rc-select-selection-item {
    flex: none;
    background: #f5f5f5;
    border: 1px solid #f0f0f0;
    border-radius: 4px;
    margin-right: 2px;
    padding: 0 8px;
    .rc-select-selection-item-remove {
      margin-left: 10px;
      vertical-align: middle;
      cursor: pointer;
      .rc-select-selection-item-remove-icon {
        font-size: 18px;
      }
    }
  }

  .rc-select-selection-item-disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .rc-select-selection-search {
    position: relative;
    margin-right: 0;
  }

  .rc-select-selection-search-input {
    padding: 1px;
    font-family: system-ui;
  }

  .rc-select-selection-search-mirror {
    padding: 1px;
    font-family: system-ui;
    position: absolute;
    z-index: 999;
    white-space: nowrap;
    left: 0;
    top: 0;
    visibility: hidden;
  }

  .rc-select-selection-search-input {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
  }
}

.rc-select-allow-clear {
  &.rc-select-multiple .rc-select-selector {
    padding-right: 20px;
  }

  .rc-select-clear {
    position: absolute;
    right: 20px;
    top: 0;
  }
}

.rc-select-show-arrow {
  &.rc-select-multiple .rc-select-selector {
    padding-right: 20px;
  }

  .rc-select-arrow {
    pointer-events: none;
    position: absolute;
    right: 5px;
    top: 0;
  }

  .rc-select-arrow-icon::after {
    content: '';
    border: 5px solid transparent;
    width: 0;
    height: 0;
    display: inline-block;
    border-top-color: #999;
    transform: translateY(5px);
  }
}

.rc-select-focused, .has-selections {
  box-shadow: inset 0px -1px 0px $black !important;
}

.rc-select-dropdown {
  min-height: 100px;
  position: absolute;
  background: #fff;
  box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.rc-select-dropdown-hidden {
  display: none;
}

.rc-select-item {
  font-size: 16px;
  line-height: 1.5;
  padding: 4px 16px;
}

.rc-select-item-group {
  color: #999;
  font-weight: bold;
  font-size: 80%;
}

.rc-select-item-option {
  position: relative;
  font-size: 1rem;
}

.rc-select-item-option-grouped {
  padding-left: 24px;
}

.rc-select-item-option .rc-select-item-option-state {
  position: absolute;
  right: 0;
  top: 4px;
  pointer-events: none;
}

.rc-select-item-option-active {
  background: #f5f5f5;
}

.rc-select-item-option-disabled {
  color: #999;
}

.rc-select-item-empty {
  text-align: center;
  color: #999;
}

.rc-select-selection__choice-zoom {
  transition: all 0.3s;
}

.rc-select-selection__choice-zoom-appear {
  opacity: 0;
  transform: scale(0.5);

  &.rc-select-selection__choice-zoom-appear-active {
    opacity: 1;
    transform: scale(1);
  }
}

.rc-select-selection__choice-zoom-leave {
  opacity: 1;
  transform: scale(1);

  &.rc-select-selection__choice-zoom-leave-active {
    opacity: 0;
    transform: scale(0.5);
  }
}

.rc-select-dropdown-slide-up-enter,
.rc-select-dropdown-slide-up-appear {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  transform-origin: 0 0;
  opacity: 0;
  animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
  animation-play-state: paused;
}

.rc-select-dropdown-slide-up-leave {
  animation-duration: 0.3s;
  animation-fill-mode: both;
  transform-origin: 0 0;
  opacity: 1;
  animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
  animation-play-state: paused;
}

.rc-select-dropdown-slide-up-enter.rc-select-dropdown-slide-up-enter-active.rc-select-dropdown-placement-bottomLeft,
.rc-select-dropdown-slide-up-appear.rc-select-dropdown-slide-up-appear-active.rc-select-dropdown-placement-bottomLeft {
  animation-name: rcSelectDropdownSlideUpIn;
  animation-play-state: running;
}

.rc-select-dropdown-slide-up-leave.rc-select-dropdown-slide-up-leave-active.rc-select-dropdown-placement-bottomLeft {
  animation-name: rcSelectDropdownSlideUpOut;
  animation-play-state: running;
}

.rc-select-dropdown-slide-up-enter.rc-select-dropdown-slide-up-enter-active.rc-select-dropdown-placement-topLeft,
.rc-select-dropdown-slide-up-appear.rc-select-dropdown-slide-up-appear-active.rc-select-dropdown-placement-topLeft {
  animation-name: rcSelectDropdownSlideDownIn;
  animation-play-state: running;
}

.rc-select-dropdown-slide-up-leave.rc-select-dropdown-slide-up-leave-active.rc-select-dropdown-placement-topLeft {
  animation-name: rcSelectDropdownSlideDownOut;
  animation-play-state: running;
}

.custom-tag {
  cursor: pointer;
}

.reapit-tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  visibility: visible;
  line-height: 1.5;
  font-size: 12px;
  padding: 0 1px 1px;

  &-hidden {
    display: none;
  }
}

.reapit-tooltip-placement-bottomLeft .reapit-tooltip-arrow-inner {
  top: 1px;
  margin-left: -6px;
  border-width: 0 6px 6px;
  border-bottom-color: #ffffff;
}

.reapit-tooltip-placement-bottomLeft .reapit-tooltip-arrow {
  left: 10%;
  top: -4px;
  margin-left: -6px;
  border-width: 0 6px 6px;
  border-bottom-color: #575757;
}

.reapit-tooltip-arrow,
.reapit-tooltip-arrow-inner {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.reapit-tooltip-inner {
  padding: 8px 10px;
  text-align: left;
  text-decoration: none;
  border-radius: 3px;
  min-height: 34px;
}

.reapit-tooltip-arrow-inner {
  border-bottom-color: #575757;
}

.reapit-tooltip-content {
  background-color: #575757;
  border-radius: 4px;
  color: white;
}

.reapit-tooltip-content a {
  text-decoration: underline;
  margin-left: 2px;
  color: white;
  font-weight: 700;
}

@keyframes rcSelectDropdownSlideUpIn {
  0% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleY(0);
  }

  100% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleY(1);
  }
}

@keyframes rcSelectDropdownSlideUpOut {
  0% {
    opacity: 1;
    transform-origin: 0% 0%;
    transform: scaleY(1);
  }

  100% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scaleY(0);
  }
}

@keyframes rcSelectLoadingIcon {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
