@import "../base/colors.scss";

.dynamic-link {
  cursor: default;
  color: inherit;

  &:hover {
    color: inherit;
  }

  &.desktop {
    color: $blue-primary-medium;
  }

  &.web {
    color: $blue-secondary-medium;
  }

  &.web, &.desktop {
    cursor: pointer;
    
    &:hover {
      font-weight: bold;
    }
  }
}