.table {
  &-loading {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
  & td {
    word-break: normal;
    max-width: 300px;
    overflow-wrap: break-word;
  }
  tr {
    &.is-expanded {
      td {
        background-color: #e8e8e8;
      }
    }
  }
}

.table-responsive {
  width: 100%;
  overflow: auto;
}
