@import '../base/colors.scss';

.wizard-close {
  border: none;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  background-color: $grey-medium;
  border-radius: 999px;
  cursor: pointer;
}

.wizard-head {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  right: 0;
  height: 50px;
  align-items: center;
  display: flex;
  background-color: $white;
  padding-right: 15px;
}

.wizard {
  min-height: 500px;
  max-height: calc(100vh - 50px);
  padding-bottom: 70px;
  position: relative;
}

.wizard-footer {
  position: absolute;
  height: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
}

.wizard-body {
  position: absolute;
  padding: 50px 20px 70px 20px;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
}
