@import '../base/colors.scss';
@import '../base/fonts.scss';

.container {
  max-width: 640px;
  background: $white;
}

.isCard {
  background-color: $white;
  border: 1px solid $grey-lighter;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(18, 38, 63, 0.1);
}

.isCenter {
  text-align: center;
}

.content {
  padding: 1.5rem;
}

.alert {
  margin: 0;
}

.message {
  margin: 4rem 0;
  color: #556986;
  font-size: 1.15rem;
  font-family: $font-family-roboto;
  a {
    text-decoration: underline;
  }
  p {
    margin-bottom: 1rem;
  }
}
