@import '../base/colors.scss';

.container {
  max-width: 520px;
}

.isCard {
  background-color: $white;
  border: 1px solid $grey-lighter;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 3px rgba(18, 38, 63, 0.1);
}

.isCenter {
  text-align: center;
  margin: 0 auto;

  h3 {
    justify-content: center;
    flex-direction: column;
  }

  span:first-of-type {
    margin-bottom: 20px;
  }
}

.title {
  font-size: 20px;
  color: $black;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 20px;
  border-bottom: 1px solid $grey-lighter;
  padding-bottom: 20px;
}

.icon {
  font-size: 20px;
  display: inline-flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  margin-right: 10px;
  font-size: 24px;
}

.iconSuccess {
  color: $white;
  background-color: $green;
}

.iconDanger {
  color: $white;
  background-color: $red;
}

.message {
  margin-bottom: 20px;
  a {
    text-decoration: underline;
  }
}
