$white: #fff;
$black: #12263f;
$grey-dark: #6e84a3;
$grey: #95aac9;
$grey-lighter: #e3ebf6;
$grey-lightest: #f9fbfd;

$green: #5fe781;
$green-lighter: #acf2bd;
$green-lightest: #e6ffed;
$red: #e96171;
$red-lighter: #fdb8c0;
$red-lightest: #ffeef0;

$reapit-dark-blue: #262f69;
$reapit-mid-blue: #0061a8;
$reapit-light-blue: #23a4de;
$reapit-lightest-blue: #7bc9eb;

$reapit-orange: #ec631b;
$reapit-lime: #cddb00;
$reapit-teal: #006580;
$reapit-plumb: #7a2c81;
$reapit-purple: #a4185c;
$reapit-gold: #ffb71b;
$reapit-green: #a0c862;
$reapit-red: #d3033d;
