.pell {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  border: none;
  box-shadow: none;
  border-radius: 0;
  overflow: hidden;
  color: #000;
  height: 180px;
}

.pell-content {
  overflow-x: scroll;
  overflow-wrap: normal;
  outline: none;
  padding: 10px;
  min-height: 80px;
  height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
  background-color: #fff;
  border: solid 1px var(--color-white);
  box-shadow: inset 0px -1px 0px var(--color-grey-light);
}

.pell-content:focus {
  border: solid 1px var(--color-accent-blue);
}

.pell-actionbar {
  background-color: #fff;
  padding-left: 8px;
  min-height: 40px;
  height: 25%;
  border: 1px solid var(--color-grey-light);
}

.pell-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 40px;
  outline: 0;
  width: 32px;
  vertical-align: bottom;
  opacity: 0.6;
}

.pell-button-selected {
  color: var(--intent-primary);
  font-weight: 600;
}

div[contenteditable='true']:empty:before {
  content: attr(placeholder);
  color: var(--color-grey-dark);
  display: block; /* For Firefox */
}
