.container {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.loaderContainer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentIsLoading {
  opacity: 0.75;
}

// to fix old chrome/safari flex-box bug
.flexGrow {
  flex: 1 0;
}
