.container {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.loader-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-is-loading {
  opacity: 0.75;
}
