@import '../base/colors.scss';
@import '../base/screen-size.scss';

.appHeaderTextContainer {
  padding: 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include for-mobile-only {
    margin-top: 1rem;
  }
}

.asideContainer {
  margin-right: 1rem;
  width: 25%;
  display: flex;
  justify-content: center;

  & > div {
    width: 70%;
  }

  /* mobile screen size*/
  @include for-mobile-only {
    display: none;
  }

  h5.headerWithoutMargin {
    margin-bottom: 0;
  }

  h5,
  h5:not(:last-child):not(.headerWithoutMargin) {
    margin-bottom: 0.5rem;
  }
  background-color: $white;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.appHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 3rem;
  @include for-mobile-only {
    margin-top: 0;
  }
  .titleContainer {
    flex: 1 0;
    flex-basis: 60%;
    @include for-mobile-only {
      flex-basis: 100%;
      flex-direction: column;
      align-items: center;
    }
  }

  .appHeaderFeaturedImageContainer {
    flex: 1 0;
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    @include for-mobile-only {
      margin-top: 1rem;
    }
    @include for-tablet-only {
      flex-basis: 100%;
    }
    .appHeaderFeaturedImage {
      width: 100%;
      height: auto;
    }
  }

  .appIconContainer {
    flex: 1 0 96px;
    max-width: 96px;
    width: 96px;
    height: 96px;
    margin-left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $grey-lighter;
    background-position: center;
    background-size: cover;
  }

  .verifyByReapitContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    @include for-mobile-only {
      justify-content: center;
    }
    button {
      @include for-mobile-only {
        margin-left: 0;
      }
    }
    .check {
      /*should be px regard their base px (rem) else looks really ugly*/
      margin-right: 5px;
      color: #a0c862;
    }
  }

  h3, h2 {
    &.appName {
      font-family: 'Museo Sans W03_300', 'Roboto', Helvetica, Arial, sans-serif;
      margin-bottom: 0;
      @include for-mobile-only {
        text-align: center;
      }
    }
  }
}
