@import '../base/colors.scss';
@import '../base/screen-size.scss';

.appHeaderTextContainer {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  text-align: right;
  flex-shrink: 1;
}

.asideContainer {
  margin-right: 1rem;
  width: 25%;
  display: flex;
  justify-content: center;

  & > div {
    width: 70%;
  }

  /* mobile screen size*/
  @include for-mobile-only {
    display: none;
  }

  h5.headerWithoutMargin {
    margin-bottom: 0;
  }

  h5,
  h5:not(:last-child):not(.headerWithoutMargin) {
    margin-bottom: 0.5rem;
  }
  background-color: $white;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.appHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 3rem;

  .titleContainer {
    flex: 1 0;
    flex-basis: 45%;
    justify-content: space-between;
    @include for-mobile-only {
      flex-basis: 100%;
    }
  }

  .separator {
    flex-basis: 5%;
    @include for-mobile-only {
      flex-basis: 100%;
      margin-top: 2rem;
    }
  }

  .appHeaderFeaturedImageContainer {
    flex: 1 0;
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: $grey-lighter;
    background-size: cover;
    background-position: center;
    height: 20rem;
    @include for-mobile-only {
      flex-basis: 100%;
    }
  }

  .appIconContainer {
    flex: 1 0 96px;
    max-width: 96px;
    margin-left: 0;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $grey-lighter;
    background-position: center;
    background-size: cover;

    img {
      background: $white;
      width: 100%;
      height: 100%;
    }
  }

  .verifyByReapitContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;

    .check {
      /*should be px regard their base px (rem) else looks really ugly*/
      margin-right: 5px;
      color: #a0c862;
    }
  }

  h2.appName {
    font-family: 'Museo Sans W03_300', 'Roboto', Helvetica, Arial, sans-serif;
    margin-bottom: 0;
  }
}
