@import '../base/colors';

.container {
  background-color: $grey-light;
  border: 1px solid $grey-light;
  border-radius: 3px;
  padding: 10px;
  color: $black;

  span {
    overflow-wrap: break-word;
  }
}

.green {
  background-color: $green-lighter;
}

.red {
  background-color: $red-lighter;
}
