$icon-width: 80px;
$icon-height: 80px;

.container {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;

  @media (min-width: 400px) {
    width: 33%;
  }

  @media (min-width: 600px) {
    width: 25%;
  }
}
.wrapIcon {
  width: $icon-width;
  height: $icon-height;
  cursor: pointer;
  border-radius: 15px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.icon {
  width: $icon-width - 30px;
  max-height: $icon-height - 30px;
}

.appTitle {
  width: $icon-width * 1.5;
  white-space: nowrap;
  margin-top: 1rem;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
}

.content {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 700px;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 60px;
}
