@import '../base/colors.scss';
@import '../base/screen-size.scss';

.preview {
  position: relative;
  top: 2px;
}

.check {
  position: relative;
  top: 2px;
  left: 2px;
  color: $reapit-green;
}

.elipsis {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
}

.tag {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: $grey-lighter;
  margin: 1rem 1rem 0 0;
}


.appIconContainer {
  max-width: 96px;
  margin: 0 auto;
}

.container {
  @include for-mobile-only {
    display: flex;
    flex-direction: column-reverse;
  }
}

.containerHeader {
  align-items: center;
  @include for-mobile-only {
    flex-direction: column;
  }
}

.containerOuterHeader {
  @include for-tablet-and-below {
    flex-direction: column;
  }
}

.headerContent {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  
  @include for-tablet-and-below {
    flex-direction: column;
    align-items: center;
  }
}

.buttonGroup {
  display: flex;
  flex-direction: column;

  @include for-mobile-only {
    > button {
      width: 50%;
    }

    flex-direction: row;
  }
}