@import '../base/colors.scss';
@import '../base/screen-size.scss';

.appHeaderTextContainer {
  padding: 0 3rem;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  @include for-mobile-only {
    padding-left: 2rem;
    padding-right: 0;
  }
}

.asideContainer {
  margin-right: 1rem;
  width: 25%;
  display: flex;
  justify-content: center;
  background-color: $white;
  padding-top: 3rem;
  padding-bottom: 3rem;
  @include for-mobile-only {
    width: 100%;
    padding-top: 0;
    padding-bottom: 1rem;
  }
  & > div {
    width: 70%;
    @include for-mobile-only {
      width: 100%;
      padding-left: 3rem;
      padding-right: 3rem;
    }
    div > :first-child {
      @include for-mobile-only {
        margin-top: 0;
      }
    }
  }

  h5.headerWithoutMargin {
    margin-bottom: 0;
  }

  h5,
  h5:not(:last-child):not(.headerWithoutMargin) {
    margin-bottom: 0.5rem;
  }
}

.appHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 3rem;

  .appHeaderFeaturedImage {
    max-width: 495px;
    max-height: 222px;
  }

  .appIconContainer {
    margin-left: 0;
    width: 96px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $grey-lighter;
    border-radius: 50%;
    margin: 0 auto;
    @include for-mobile-only {
      width: 86px;
      height: 86px;
    }
    img {
      background: $white;
      width: 100%;
      height: 100%;
    }
  }

  .verifyByReapitContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 1rem;

    .check {
      /*should be px regard their base px (rem) else looks really ugly*/
      margin-right: 5px;
      color: #a0c862;
    }
  }

  h2.appName {
    font-family: 'Museo Sans W03_300', 'Roboto', Helvetica, Arial, sans-serif;
    margin-bottom: 0;
  }
}
