@import '../base/colors.scss';

.heading-paragraph {
  margin-bottom: 0.6em;
}

.sub-title {
  margin-bottom: 0.6em;
}

.title {
  text-align: center;
}

.warn {
  color: $red;
}

.parent {
  list-style-type: none;
  counter-reset: item;
  margin: 0;
  padding: 0;
}

.parent > .child.child-with-alpha-bullet{
  &:before {
    content: "(" counter(item, lower-alpha) ")" !important;
  }
}

.parent > .child {
  display: table;
  counter-increment: item;
  margin-bottom: 0.6em;

  &:before {
    font-weight: 700;
    color: $black;
    content: counters(item, '.');
    display: table-cell;
    padding-right: 2em;
  }
}


.child .parent > .child {
  &:before {
    content: counters(item, '.') ' ';
  }
}
