/* Base */
body {
  margin: 0;
  font-size: 16px;
}

/* Font */
body {
  font-family: "Open Sans", sans-serif;
}

/* Navbar */
#path-bar {
  fill: #8a8a8a;
}

#navbar {
  padding: 0rem 1.75rem;
  color: #8a8a8a;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar img {
  margin: 1.75rem 0rem;
}

#navbar > svg {
  font-family: "Open Sans", sans-serif;
}

/* Widget */
#search-result-container {
  padding: 2rem;
}

#reapit-search-map {
  overflow: auto;
}

/* Responsive map */
#reapit-search-map > div {
  padding: 25vw;
}

@media (max-width: 1600px) {
  #reapit-search-map > div {
    padding: 35vw;
  }
}

#reapit-search-result {
  padding: 2rem;
  height: 100%;
  width: 100%;
}

#reapit-search-widget-container {
  width: 100vw;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

#widget {
  position: relative;
}

#widget > img {
  width: 100vw;
}

/* Place holder */
#place-holder {
  padding: 1.75rem 0rem;
}

/* Our approach */
#approach {
  display: flex;
  color: white;
}

#approach div {
  flex: 1;
}


#approach > #our-approach {
  color: #8a8a8a;
  padding: 0 2rem 4rem 2rem;
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

#approach > #img-approach {
  padding: 0px 2rem 4rem 2rem;
}

#approach button {
  margin-top: 1rem;
  background: #887d97;
  color: white;
  padding: 0.75rem 1.75rem;
  border: 0rem;
  margin-left: auto;
  font-weight: bold;
  font-size: 1em;
}

#approach img {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 565px) {
  #approach > #our-approach {
    padding: 0.2rem;
  }
}


/* Our approuch - handle responsive */
@media (max-width: 768px) {
  #approach {
    display: block;
  }
}


@media (min-width: 1024px) {
  #approach > #our-approach > h1 {
    font-size: 48px;
  }
}
