.topNavbar{
  text-align: right;
}

.bold {
  font-weight: bold;
  color: black;
}

.moreThreeYearLink {
  text-align: right;
  margin-bottom: 2rem;
}

.footerBtn {
  text-align: right;
}

.informationRow {
  display: flex;
  & > span {
    width: 50%;
  }
}

.contentTitle {
  font-weight: bold;
  width: 30%
}

.reportContainer {
  border: 1px solid;
  padding: 2rem;
  margin-bottom: 1rem;
}

.footerContainer {
  text-align: right;
}

@media print {
  .reportContainer {
      background-color: white;
      height: 100%;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      margin: 0;
      padding: 15px;
      font-size: 14px;
      line-height: 18px;
  }
}