@import '../base/colors.scss';

.container {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  @media screen and (max-width: 900px) {
    flex-direction: column-reverse;
  }
}

.wrapper {
  background-color: $white;
  width: 33.33%;
  padding: 1rem;
  pointer-events: auto;
  padding: 2rem;

  &.disabled {
    pointer-events: none;
  }

  h1,
  img,
  p {
    text-align: center;
  }

  img {
    margin: 0 auto;
    max-width: 250px;
    display: block;
  }

  button {
    margin: 0 auto;
    max-width: 400px;
  }

  @media screen and (max-width: 900px) {
    width: 100%;
  }

  @media screen and (min-width: 1200px) {
    padding: 3rem;
  }
}

.image-logo {
  display: flex;
  width: 100%;
  margin-bottom: 2.5rem;
}

.wrapper-border {
  padding: 1.5rem;
}
