<div>
  <h1 style="color: blue;">Confirm Registration</h1>
  <p>
    Click
    <a href=<%= `https://dev.marketplace.reapit.com/register/confirm?userName=${userName}&verificationCode={####}` %>>here</a>
    to confirm your registration
  </p>
</div>