<!DOCTYPE html>
<html>
  <head>
    <title>Email Header</title>
    <%- include('styles') %>
  </head>
  <body class="body--container">
    <%- include('header') %>
    <main class="main--container">
      <article>
        <h1 class="main--title">Email Header</h1>
        <p>Hi <%= userName %></p>
        <br />
        <p>We have received a request to reset your Markerplace password.</p>
        <p>Please click the button below to continue</p>
        <div class="main--article-button-container">
          <a class="main--article--button" href=<%= `https://dev.marketplace.reapit.com/register/confirm?userName=${userName}&verificationCode={####}` %>>RESET PASSWORD</a>
        </div>
        <p>If you did not make this request, please ignore this email</p>
        <br />
        <p>Best Regards,</p>
        <p>Reapit Team</p>
      </article>
    </main>
  </body>
</html>
