<!DOCTYPE html>
<html>
  <head>
    <title>Template</title>
  </head>
  <body>
    <main>
        <article style="font-family: Arial, Helvetica, sans-serif;margin:0px;background-color:#F6F6F6;line-height: 1.5rem;font-style: italic;">
        <img style="width: 100%;" src="https://reapit-s3-policy-test.s3.eu-west-2.amazonaws.com/public/image-20191122-114228.png" />
        <h1 style="text-align: center;font-size: 34px; font-style: normal;">Email Header</h1>
        <div style="padding:0 20px 20px 50px;">
          <p>Hi <%= userName %></p>
          <br />
          <p>Some text</p>
          <p>Some text</p>
          <div style="text-align: center;">
            <a style="border: solid thin #0061a8;padding: 10px;background-color: #0061a8;color: white;z-index: 1;text-decoration: none; font-style: normal;" href=<%= `https://dev.marketplace.reapit.com/register/confirm?userName=${userName}&verificationCode={####}` %>>CTA</a>
          </div>
          <p>Some text</p>
          <br />
          <p>Best Regards,</p>
          <p>Reapit Team</p>
        </div>
      </article>
      <%-include('forgotten-password', {userName: 'tanphamhaiduong@gmail.com', verificationCode: '123', url: 'https://dev.marketplace.reapit.com/developer/reset-password'}) %>
      <%-include('confirm-registration', {userName: 'tanphamhaiduong@gmail.com', verificationCode: '123', url: 'https://dev.marketplace.reapit.com/register/confirm'}) %>
    </main>
  </body>
</html>
