@import '../base/colors.scss';
@import '../base/screen-size.scss';
@import '../base/browser.scss';

.preview {
  position: relative;
  top: 2px;
}

.check {
  position: relative;
  top: 2px;
  left: 2px;
  color: $reapit-green;
}

.tag {
  display: inline-block;
  padding: 0.5rem 1rem;
  background: $grey-light;
  margin: 0.5rem 0.5rem 0 0;
}

.container {
  height: 100%;
  margin-bottom: auto;
  @include for-mobile-only {
    display: flex;
    flex-direction: column-reverse;
  }
  @include for-ie-only {
    min-width: 1024px;
  }
}

.containerHeader {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.appIconContainer {
  width: 96px;
  height: auto;
  margin: 0 auto;
}

.headerContent {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  text-align: center;
}

.containerOuterHeader {
  @include for-tablet-and-below {
    flex-direction: column;
  }
}

.buttonGroup {
  display: flex;
  flex-direction: column;

  @include for-mobile-only {
    > button {
      width: 50%;
    }

    flex-direction: row;
  }
}
