/** Use These css-s to make sure Authentication modal work on IE  **/
.btn-choose-auth-type-container {
  clear: left;
  float: left;
  width: 100%;
  overflow: hidden;
  display: flex;

  > div {
    float: left;
    width: 100%;
    position: relative;
    right: 48%;
  }
}

.btn-choose-auth-type-container-left {
  float: left;
  width: 46%;
  position: relative;
  left: 50%;
  overflow: hidden;
  height: 100%;
}

.btn-choose-auth-type-container-right button {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.btn-choose-auth-type-container-right {
  float: left;
  width: 46%;
  position: relative;
  left: 54%;
  overflow: hidden;
  height: 100%;
}

.btn-choose-auth-type {
  height: auto;
  text-transform: none;
  font-weight: 400;
  white-space: normal;
  height: 100%;
}
