$layout-base: 1rem;
// Generic layout values that scale to rem base
$layout-quarter: calc(1rem / 4);
$layout-third: calc(1rem / 3);
$layout-half: calc(1rem / 2);
$layout-two-third: calc(1rem * 0.67);
$layout-three-quarter: calc(1rem * 0.75);
$layout-one-quarter: calc(1rem * 1.25);
$layout-one-half: calc(1rem * 1.5);
$layout-double: calc(1rem * 2);
$layout-two-half: calc(1rem * 2.5);
$layout-triple: calc(1rem * 3);
$layout-quadruple: calc(1rem * 4);
$layout-sextuple: calc(1rem * 6);
