$white: #fff;
$black: #000;

$grey-dark: #646464;
$grey-medium: #D0D0D0;
$grey-light: #F2F2F2;

$blue-primary-medium: #0061A8;
$blue-primary-light: #23A4DE;

$blue-secondary-dark: #262F69;
$blue-secondary-medium: #31448F;
$blue-secondary-light: #7BC9EB;

$orange-accent: #FFB71B;
$yellow-accent: #FFD361;
$skin-accent: #FFE5C7;

$red-semantic: #D3033D;
$red-light-semantic: #FBEAEF;
$green-semantic: #A0C862;
