@charset "utf-8";
@import './colors.scss';
@import './browser.scss';

* {
  box-sizing: border-box !important;
  line-height: 20px;
}

html {
  font-size: 16px !important;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;

  &.is-desktop {
    font-size: 14px !important;
  }
}

body {
  background: $grey-light;
}

#root {
  height: 100%;
 
}

ins {
  text-decoration: none;
  background-color: #d4fcbc;
}

del.del-diff {
  text-decoration: line-through;
  background-color: #fbb6c2;
  color: #555;
}

.flex-col-min-height {
  //Fix flex column height bug in IE
  //https://stackoverflow.com/a/43027202
  @include for-ie-only {
    min-height: 1px;
  }
}

.rc-dialog-mask {
  background: #646464;
  opacity: 0.2;
}
