@import '../base/colors.scss';

$units: 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10;

@each $unit in $units {
  .flex-grow-#{$unit} {
    flex-grow: $unit;
  }

  .flex-shrink-#{$unit} {
    flex-shrink: $unit;
  }

  .text-ellipsis-#{$unit} {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    max-width: 700px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: ($unit * 0.25rem);
  }
}

.bt {
  border-top: 1px solid $grey-light;
}

.bb {
  border-bottom: 1px solid $grey-light;
}

.bl {
  border-left: 1px solid $grey-light;
}

.br {
  border-right: 1px solid $grey-light;
}

.bx {
  border-left: 1px solid $grey-light;
  border-right: 1px solid $grey-light;
}

.by {
  border-top: 1px solid $grey-light;
  border-bottom: 1px solid $grey-light;
}

.mw-100 {
  max-width: 100%;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.inline-block {
  display: inline-block;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.items-end {
  align-items: flex-end;
}

.items-center {
  align-items: center;
}

.align-self {
  align-self: center;
}

.items-start {
  align-items: flex-start;
}

.text-center {
  text-align: center;
}

.text-end {
  text-align: end;
}

.vertical-align-text-top {
  vertical-align: text-top;
}

.pin {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.capitalize {
  text-transform: capitalize;
}

.ml-auto {
  margin-left: auto;
}
