@import '../base/colors.scss';
@import '../base/fonts.scss';

.form {
  width: 100%;
}

.form-section {
  margin-bottom: 1.5rem;
  background: $white;
}

.form-heading {
  font-size: 1.25rem;
  margin-bottom: 1em;
}

.form-subheading {
  margin-bottom: 0.5rem;
}
