@import '../base/colors.scss';
@import '../base/fonts.scss';

.form {
  width: 100%;
}

.form-section {
  padding: 1.5rem;
  // margin-bottom: 1.5rem;
  background: $white;
}

.form-heading {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-subheading {
  margin-bottom: 1.5rem;
}
