@import '../base/colors.scss';
@import '../base/fonts.scss';

.notification {
  &.helper-wrap {
    font-size: 1rem;
    font-family: $family-sans-serif;
    margin-bottom: 1rem;
    text-transform: none;
  }

  &.helper-info {
    background-color: transparentize($reapit-mid-blue, 0.8);
    color: $reapit-mid-blue;
  }

  &.helper-warning {
    background-color: transparentize($reapit-red, 0.8);
    color: $reapit-red;
  }
}
