@import '../base/colors.scss';

.helpguide {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.helpguide-wrapper {
  display: flex;
  flex-grow: 1;
  margin: 0 auto;
  flex-direction: row;
  position: relative;
  justify-content: center;
  transition: transform 0.3s;
  @media (min-width: 769px) {
    flex-direction: column;
  }
}

.helpguide-steps {
  width: 100%;
  @media (min-width: 769px) {
    padding: 3rem 0;
  }
}

.helpguide-component {
  display: flex;
  @media (min-width: 769px) {
    max-width: 500px;
  }
}

.helpguide-content {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  @media (min-width: 769px) {
    padding: 1rem;
    margin-top: 0;
  }
}

.helpguide-wrapper-graphic {
  padding: 1rem;
}

.helpguide-graphic {
  max-width: 500px;
  & img {
    max-width: 100%;
    height: auto;
  }
}

.vertical-timeline {
  counter-reset: step;
  width: 100px;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  margin: 0 1rem;
  cursor: pointer;

  & li {
    list-style-type: none;
    font-size: 0.85rem;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: $white;
  }

  li:before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    line-height: 30px;
    display: block;
    text-align: center;
    margin: 30px auto;
    border-radius: 50%;
    background-color: $grey;
  }

  li.active:before,
  li.passed:before {
    background-color: $reapit-mid-blue;
  }

  li:after {
    width: 3px;
    height: 100%;
    content: '';
    position: absolute;
    background-color: $grey;
    top: 50%;
    transform: translateX(-50%);
    z-index: -3;
    @media all and (-ms-high-contrast:none) {
      left: 50%;
    }
  }

  li:last-child:after {
    content: none;
  }

  & .circle-active {
    border: 1px solid $reapit-mid-blue;
    transform: translateY(25px);
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    background: white;
    transition: all 0.3s;
    text-align: center;
    @media all and (-ms-high-contrast:none) {
      transform: translate(-20px, 25px);
    }
  }

  & .line-active {
    position: absolute;
    height: 0;
    width: 3px;
    top: 30px;
    background-color: $reapit-mid-blue;
    transition: all 0.3s;
    z-index: -2;
    @media all and (-ms-high-contrast:none) {
      transform: translateX(-2px);
    }
  }
}

.horizontal-timeline {
  counter-reset: step;
  align-items: center;
  justify-content: space-between;
  display: flex;
  position: relative;
  z-index: 1;
  width: 100%;
  cursor: pointer;

  & li {
    flex: 1;
    list-style-type: none;
    font-size: 0.85rem;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    color: $white;
  }

  & li:last-child {
    flex: unset;
  }

  li:before {
    width: 30px;
    height: 30px;
    content: counter(step);
    counter-increment: step;
    margin-right: auto;
    line-height: 30px;
    display: block;
    text-align: center;
    border-radius: 50%;
    background-color: $grey;
  }

  li.active:before,
  li.passed:before {
    background-color: $reapit-mid-blue;
  }

  li:after {
    width: 100%;
    height: 3px;
    content: '';
    position: absolute;
    background-color: $grey;
    top: 50%;
    transform: translateX(-50%);
    z-index: -3;
  }

  li:last-child:after {
    content: none;
  }

  & .line-active {
    position: absolute;
    height: 3px;
    top: 50%;
    background-color: $reapit-mid-blue;
    transition: all 0.3s;
    z-index: -2;
  }

  & .circle-active {
    border: 1px solid $reapit-mid-blue;
    width: 40px;
    height: 40px;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    background: white;
    transition: all 0.3s;
    text-align: center;
    transform: translateX(-5px);
  }
}
