@import '../base/colors.scss';

.html-editor {
  & .a-wrapper {
    display: inline-block;
    position: relative;
    & > a {
      color: $reapit-mid-blue;
    }
    & > .tool-tip-href {
      display: none;
      position: absolute;
      top: -2rem;
      background: $white;
      color: $black;
      padding: 0.2rem;
    }
    &:hover > .tool-tip-href {
      display: block;
    }
  }
  & ul {
    list-style-position: inside;
  }
}
