
.icon-list {
  display: flex;
  flex-direction: column;


  .icon-list-item {
    margin-bottom: 0.5rem;
  }

  .icon-list-icon {
    height: 1.2rem;
    width: 1.2rem;
    margin-right: 1rem;
    vertical-align: text-top;
  }

  .icon-list-text {
    vertical-align: top;
  }
}