@import '../base/colors.scss';

.app-nav-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  overflow-y: visible;
  overflow-x: hidden;

  @media screen and (min-width: 769px) {
    flex-direction: row;
  }
}

.container-flex {
  display: flex;
  margin: 0 auto;
  width: 100%;
  flex: 1 0;

  &.is-column {
    flex-direction: column;
  }

  &.is-centered {
    justify-content: center;
    align-items: center;
  }

  &.has-padding {
    padding: 1.5rem;
  }

  &.is-scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  &.is-full-height {
    height: 100%;
  }

  &.has-background {
    background-color: $white;
  }

  &.flex-wrap {
    flex-wrap: wrap;
  }

  &.has-box-shadow {
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.05);
  }
}

.section {
  width: 100%;
  padding: 0;
  margin: 0;

  &.is-flex {
    display: flex;
  }

  &.is-centered {
    justify-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
  }

  &.is-aligned-start {
    justify-content: flex-start;
    align-items: flex-start;
    align-self: flex-start;
  }

  &.is-aligned-end {
    justify-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
  }

  &.is-flex-column {
    flex-direction: column;
  }

  &.has-background {
    background: $white;
  }

  &.has-margin {
    margin-bottom: 1.5rem;
  }

  &.has-padding {
    padding: 1.5rem;
  }

  &.is-full-height {
    height: 100%;
  }

  &.has-box-shadow {
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.05);
  }
}
