@import '../base/colors.scss';

.app-nav-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100%;
  overflow-y: visible;
  overflow-x: hidden;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }
}

.container-flex {
  display: flex;
  margin: 0 auto;
  width: 100%;
  flex: 1 0;

  &.is-column {
    flex-direction: column;
  }

  &.is-centered {
    justify-content: center;
    align-items: center;
  }

  &.has-padding {
    padding: 1rem;
  }

  &.is-scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  &.is-full-height {
    height: 100%;
  }

  &.has-background {
    background-color: $white;
  }

  &.flex-wrap {
    flex-wrap: wrap;
  }
}

