@import '../base/colors.scss';
@import '../base/fonts.scss';
@import '../base/media.scss';

$nav-dimensions: 66px;

.nav-bar {
  font-family: $family-sans-serif;
  font-size: 10px;
  display: inline-block;
  width: 100%;
  background-color: $blue-secondary-dark;
  height: $nav-dimensions;
  position: sticky;
  top: 0;
  z-index: 1;

  @include for-tablet-and-desktop {
    height: 100%;
    width: $nav-dimensions;
    overflow: hidden;
    position: static;
  }

  ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    height: $nav-dimensions;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    @include for-tablet-and-desktop {
      height: 100%;
      flex-direction: column;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  li {
    padding: 4px 8px;
    text-align: center;
    width: $nav-dimensions;
    height: $nav-dimensions;
    object-fit: contain;
    color: $white;

    @include for-tablet-and-desktop {
      width: $nav-dimensions;
    }
  }

  li.is-active,
  li:hover {
    background: $blue-secondary-medium;
    transition: all 0.1s ease-in-out;
  }

  .nav-item-link {
    cursor: pointer;

    &.is-secondary {
      margin-left: auto;

      @include for-tablet-and-desktop {
        margin-top: auto;
        margin-left: 0;
      }
    }
  }

  .nav-item-title {
    font-weight: 400;
  }

  .nav-item-icon {
    height: 60%;

    svg {
      width: 100%;
      height: 100%;
    }
  
    @media all and (-ms-high-contrast: none) {
      height: 23px;
    }
  }

  .is-logo .nav-item-icon {
    width: 100%;
    height: 100%;
  }
}

.nav-bar.is-desktop {
  background-color: $grey-dark;

  li {
    color: $white;
  }

  li.is-active,
  li:hover {
    background: $grey-medium;
    color: $black;
  }
}
