@import '../base/colors.scss';
@import '../base/fonts.scss';

$nav-dimensions: 66px;

.nav-bar {
  font-family: $family-sans-serif;
  font-size: 10px;
  display: inline-block;
  width: 100%;
  background-color: $reapit-dark-blue-darkened;
  height: $nav-dimensions;
  position: sticky;
  top: 0;
  z-index: 1;

  @media screen and (min-width: 768px) {
    height: 100vh;
    width: $nav-dimensions;
    overflow: hidden;
    position: static;
  }

  ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    overflow-x: scroll;
    overflow-y: hidden;
    height: $nav-dimensions;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    @media screen and (min-width: 768px) {
      height: 100%;
      flex-direction: column;
      overflow-x: hidden;
      overflow-y: auto;
      height: 100vh;
    }
  }

  li {
    padding: 0.5rem 0.5rem;
    border: $reapit-dark-blue-darkened 3px solid;
    text-align: center;
    width: $nav-dimensions;
    height: $nav-dimensions;
    object-fit: contain;
    color: $reapit-lightest-blue-lightened;

    @media screen and (min-width: 768px) {
      width: $nav-dimensions;
    }
  }

  li.is-active,
  :hover {
    color: $white;
    transition: color 0.1s ease-in-out;
  }

  li.is-active {
    border-bottom: $white 3px solid;

    @media screen and (min-width: 768px) {
      border-bottom: $reapit-dark-blue-darkened 3px solid;
      border-left: $white 3px solid;
    }
  }

  .nav-item-link {
    cursor: pointer;
    
    &.is-secondary {
      margin-left: auto;

      @media screen and (min-width: 768px) {
        margin-top: auto;
        margin-left: 0;
      }
    }
  }

  .nav-item-icon {
    width: 50%;
    height: 100%;
    @media all and (-ms-high-contrast:none) {
      height: 23px;
    }
  }

  .is-logo .nav-item-icon {
    width: 75%;
    @media all and (-ms-high-contrast:none) {
      height: 42px;
    }
  }

  &.is-desktop {
    display: none;
  }
}
