@import '../base/colors.scss';

.progress-bar {
  position: relative;
  height: 2rem;
  border: 1px solid $blue-primary-medium;
  width: 100%;
}

.filler {
  background: $blue-primary-medium;
  height: 100%;
}
