@import '../base/colors.scss';

span.data-grid-container,
span.data-grid-container:focus {
  outline: none;
}

.data-grid-container .data-grid {
  table-layout: fixed;
  border-collapse: collapse;
}

.data-grid-container .data-grid .cell.updated {
  background-color: rgba(0, 145, 253, 0.16);
  transition: background-color 0ms ease;
}
.data-grid-container .data-grid .cell {
  height: 17px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  cursor: cell;
  background-color: unset;
  transition: background-color 500ms ease;
  vertical-align: middle;
  text-align: right;
  border: 1px solid #ddd;
  padding: 0;
  &.hidden {
    display: none;
  }
}
.data-grid-container .data-grid .cell.selected {
  border: 1px double rgb(33, 133, 208);
  transition: none;
  box-shadow: inset 0 -100px 0 rgba(33, 133, 208, 0.15);
}

.data-grid-container .data-grid .cell.read-only {
  background: whitesmoke;
  color: #999;
  text-align: center;
}

.data-grid-container .data-grid .cell > .text {
  padding: 2px 5px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.data-grid-container .data-grid .cell > input {
  outline: none !important;
  border: 2px solid rgb(33, 133, 208);
  text-align: right;
  width: calc(100% - 6px);
  height: 11px;
  background: none;
  display: block;
}

.data-grid-container .data-grid .cell {
  vertical-align: bottom;
}

.data-grid-container .data-grid .cell,
.data-grid-container .data-grid.wrap .cell,
.data-grid-container .data-grid.wrap .cell.wrap,
.data-grid-container .data-grid .cell.wrap,
.data-grid-container .data-grid.nowrap .cell.wrap,
.data-grid-container .data-grid.clip .cell.wrap {
  white-space: normal;
}

.data-grid-container .data-grid.nowrap .cell,
.data-grid-container .data-grid.nowrap .cell.nowrap,
.data-grid-container .data-grid .cell.nowrap,
.data-grid-container .data-grid.wrap .cell.nowrap,
.data-grid-container .data-grid.clip .cell.nowrap {
  white-space: nowrap;
  overflow-x: visible;
}

.data-grid-container .data-grid.clip .cell,
.data-grid-container .data-grid.clip .cell.clip,
.data-grid-container .data-grid .cell.clip,
.data-grid-container .data-grid.wrap .cell.clip,
.data-grid-container .data-grid.nowrap .cell.clip {
  white-space: nowrap;
  overflow-x: hidden;
}

.data-grid-container .data-grid .cell .value-viewer,
.data-grid-container .data-grid .cell .data-editor {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* custom style */
.spreadsheet {
  position: relative;
  width: 100%;
  background-color: $white;
  color: $black;
  /* custom style */
  .wrap-top {
    margin-bottom: 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    .description {
      flex: 7 1 70%;
    }
    .button-group {
      flex: 3 0 30%;
      display: flex;
      justify-content: flex-end;
      .download-button {
        margin-left: 1rem;
      }
    }
  }
  .wrap-bottom {
    margin-top: 1rem;
    text-align: right;
  }
  /* lib style modify */
  .data-grid-container .data-grid {
    width: 100%;
    margin: auto;
  }
  & input.data-editor {
    width: 100% !important;
    height: 100% !important;
  }
  .data-grid-container .data-grid .cell {
    height: 2rem;
    line-height: 2rem;
    vertical-align: middle;
    padding: 0 0.5rem 0 0.5rem;
    text-align: left;
    &.read-only {
      color: $black;
      font-weight: bold;
      background-color: inherit;
    }
    &.error-cell {
      background: $reapit-red !important;
      color: $white !important;
    }
    & > input {
      text-align: left;
    }
  }
  tr:nth-child(odd) {
    background-color: $white;
  }
  tr:nth-child(even) {
    background-color: $grey-lighter;
  }
  /* context menu style */

  .spreadsheet-context-menu {
    background-color: $white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    padding: 1rem;
    width: 250px;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 2px 6px 2px rgba(60, 64, 67, 0.15);
    .wrap-section:not(:first-child) {
      margin-top: 1rem;
    }
  }
  .spreadsheet-context-menu-visible {
    visibility: visible;
  }
  .spreadsheet-context-menu-hidden {
    visibility: hidden;
  }
  /* custom style use for demo in storybook */

  .custom-classname-style {
    color: $reapit-light-blue;
  }
}
