.table {
  &-loading {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  & td {
    word-break: break-word;
    min-width: 100px;
    max-width: 300px;
  }
}

.table-responsive {
  width: 100%;
  overflow: auto;
}
