@import '../base/layout.scss';

.upload-progress {
  width: 100%;
  padding: $layout-base;
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 0.2s ease-in-out;
  display: flex;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;

  &.visible {
    transform: translateY(calc(#{$layout-base} * -1));
  }

  &-inner {
    margin-left: $layout-base;
    margin-right: $layout-base;
    height: 2rem;
    width: 100%;
  }

  &-bg {
    background-color: #88c4e9;
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
  .upload-progress {
    &-inner {
      width: 50%;
    }
  }
}
