service: web-components-config-server
plugins:
  - serverless-webpack
  - serverless-offline

custom:
  env: ${file(./config.json)}
  webpack:
    webpackConfig: 'webpack.config.js'
    includeModules: true
    packager: 'yarn'
    packagerOptions:
      noFrozenLockFile: false
    excludeFiles: src/**/*.test.ts
    keepOutputDirectory: true

provider:
  name: aws
  runtime: nodejs10.x
  stage: ${opt:stage, 'dev'}
  region: ${self:custom.env.AWS_REGION}
  deploymentBucket:
    name: web-components-config-server.${self:provider.stage}
    blockPublicAccess: false
  environment:
    APP_ENV: ${self:custom.env.APP_ENV}
    NODE_ENV: 'production'

package:
  individually: true
  include:
    - dist/**
  exclude:
    - package.json
    - node_modules/**
    - error.log
    - info.log
    - jest.config.js
    - nodemon.json
    - serverless.yml
    - src/**
    - tsconfig.json
    - yml-helpers.js

functions:
  webComponentsConfigServer:
    handler: src/index.webComponentsConfigServer
    events:
      - http: ANY /
      - http: 'ANY {proxy+}'
