name: AutoBot
on:
  issues:
    types:
      - opened
      - reopened
      - closed
      - labeled
  project_card:
    types:
      - moved
  issue_comment:
    types:
      - created

jobs:
  reply:
    runs-on: ubuntu-latest
    name: Label Issue
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: ./packages/auto-reply-bot
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
