name: Publish TS Definitions

# on:
#   schedule:
#     # * is a special character in YAML so you have to quote this string
#     - cron: '0 0 1-31 * *'

on:
  pull_request:
    types: ['opened', 'synchronize']

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: checks out repository to $GITHUB_WORKSPACE
        uses: actions/checkout@v2

      - name: Setup Node Environment
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'

      - name: Get yarn cache location
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - name: Get yarn cache
        uses: actions/cache@v2
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Integrate Git credentials
        uses: webfactory/ssh-agent@v0.4.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Fetch latest definitions
        run: yarn workspace @reapit/foundations-ts-definitions fetch-definitions

      - name: Publish changed definitions
        run: yarn workspace @reapit/foundations-ts-definitions handle-cron-job

env:
  NPM_TOKEN: ${{secrets.NPM_TOKEN}}
  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
  AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID_PROD}}
  AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY_PROD}}
  AWS_REGION: ${{secrets.AWS_REGION}}
