name: GQL Swagger Update

on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron: '0 0 * * 1-5'

jobs:
  check:
    name: Update
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set Node
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'

      - name: Integrate Git credentials
        uses: webfactory/ssh-agent@v0.4.1
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}

      - name: Install
        run: yarn

      - name: Fetch Swagger
        run: yarn workspace graphql-sever-v2 download:schema

      - name: Get Timestamp
        id: time
        uses: nanzm/get-time-action@v1.1
        with:
          format: 'YYYY-MM-DD-HH-mm'

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          commit-message: Update GQL platform swagger
          signoff: false
          delete-branch: true
          branch: chore/gql-swagger-update-timestamp-${{ steps.time.outputs.time }}
          title: 'chore:  Update GQL platform swagger'
          body: |
            Update GQL platform swagger
env:
  NPM_TOKEN: ${{secrets.NPM_TOKEN}}
  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
  AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID_PROD}}
  AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY_PROD}}
  AWS_REGION: ${{secrets.AWS_REGION}}
