name: Release Develop

on:
  push:
    branches:
      - master

env:
  NPM_TOKEN: ${{secrets.NPM_TOKEN}}
  AWS_ACCESS_KEY_ID: ${{secrets.AWS_ACCESS_KEY_ID}}
  AWS_SECRET_ACCESS_KEY: ${{secrets.AWS_SECRET_ACCESS_KEY}}
  AWS_REGION: ${{secrets.AWS_REGION}}
  SENTRY_AUTH_TOKEN: ${{secrets.SENTRY_AUTH_TOKEN}}
  CI: true
  CYPRESS_USERNAME: ${{secrets.CYPRESS_USERNAME}}
  CYPRESS_PASSWORD: ${{secrets.CYPRESS_PASSWORD}}
  IS_RELEASE: true

jobs:
  release_dev:
    runs-on: ubuntu-latest
    steps:
      - name: checks out repository to $GITHUB_WORKSPACE
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup Node Environment
        uses: actions/setup-node@v1
        with:
          node-version: '12.x'

      - name: Get yarn cache location
        id: yarn-cache
        run: echo "::set-output name=dir::$(yarn cache dir)"

      - name: Get yarn cache
        uses: actions/cache@v2
        with:
          path: ${{ steps.yarn-cache.outputs.dir }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install Global Dependencies
        run: |
          yarn global add aws-cli serverless@1.59.3

      - name: Set up workspace experimental
        run: |
          yarn config set workspaces-experimental true

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Fetch config
        run: |
          yarn fetch-config --name development --since HEAD~1 --include-dependencies

      - name: Lint
        run: |
          yarn lint --since HEAD~1 --include-dependencies

      - name: Build
        run: |
          yarn build --since HEAD~1 --include-dependencies

      - name: Test
        run: |
          yarn test --since HEAD~1 --include-dependencies

      - name: Release Develop
        run: |
          yarn release:dev --since HEAD~1 --include-dependencies

      - name: Write jest cache
        uses: actions/cache@v2
        with:
          path: scripts/jest/.jest-cache
          key: ${{ runner.os }}-jest-cache-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-jest-cache-

        # Only web apps built with webpack have .webpack-cache.
        # Put in the last, so that this pipeline will not use cache, but still save cache for other PR's branches to use
      - name: Get Web Apps build cache
        uses: actions/cache@v2
        with:
          path: |
            packages/admin-portal/.webpack-cache
            packages/marketplace/.webpack-cache
            packages/developer-portal/.webpack-cache
            packages/aml-checklist/.webpack-cache
            packages/smb-onboarder/.webpack-cache
            packages/geo-diary/.webpack-cache
          key: ${{ runner.os }}-${{ hashFiles('yarn.lock') }}-${{hashFiles('scripts/webpack/**/*.js')}}
