$white: #FFF;
$grey: #AAA;
$grey-lightest: #F5F5F5;

$reapit-dark-blue: #262F69;
$reapit-mid-blue: #0061A8;
$reapit-light-blue: #23A4DE;
$reapit-lightest-blue: #7BC9EB;

$reapit-orange: #EC631B;
$reapit-lime: #CDDB00;
$reapit-teal: #006580;
$reapit-plumb: #7A2C81;
$reapit-purple: #A4185C;
$reapit-gold: #FFB71B;
$reapit-geeen: #A0C862;
$reapit-red: #D3033D;
