$white: #fff;
$grey: #aaa;
$grey-lightest: #f5f5f5;

$reapit-dark-blue: #262f69;
$reapit-mid-blue: #0061a8;
$reapit-light-blue: #23a4de;
$reapit-lightest-blue: #7bc9eb;

$reapit-orange: #ec631b;
$reapit-lime: #cddb00;
$reapit-teal: #006580;
$reapit-plumb: #7a2c81;
$reapit-purple: #a4185c;
$reapit-gold: #ffb71b;
$reapit-geeen: #a0c862;
$reapit-red: #d3033d;
